@import "https://fonts.googleapis.com/css?family=Lato:400,700";

#header-img {
  height: 50px;
  width: 50px;
}
#wrapper {
  background-image: linear-gradient(90deg, white 0%, #eee 50%);
  font-family: 'Lato',"Helvetica Neue",Arial;
}


#features {
  text-align: left;
  padding-left: 25vw;
  padding-top: 150px;
}

header {
    overflow: hidden;
  background-image: linear-gradient(90deg, white 0%, #eee 50%);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.2rem;

  
}

#head {
  text-decoration: none;
  color:black
}

li {
  list-style: none;
}

.nav-bar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}
.nav-bar {
  width: 100%;
}

#pricing {
  display:flex;
  justify-content: center;

}

.price {
  border: 2px solid black;
  margin: 10px;
  display:flex;
  flex-direction:column;
  max-width: 18%;
  text-align: center;



}

.select:hover {
  background-color: yellow;
}





@media max-width: 600px {
  #video {
    width: 300px;
    height: 200px;
}
}

#explanation {
  text-align: center;
  padding-top:5px;
}

#form {
  text-align: center;
  padding-top: 5px;
  padding-bottom:20px;
  background-color: grey;
}
