#image {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  height: auto;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;

}

body {
  text-align: center;
  background: #fceb2d;
  font-size: 1.15rem;
    font-family: Arial;
}

#img-div {
  background: #cf3221;
  border-radius: 5px;

  
}
